[submodule "cpp_misc/args"]
	path = cpp_misc/args
	url = https://github.com/Taywee/args.git
[submodule "cpp_misc/json"]
	path = cpp_misc/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp_misc/spdlog"]
	path = cpp_misc/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cpp_misc/lz4"]
	path = cpp_misc/lz4
	url = https://github.com/lz4/lz4.git
[submodule "cpp_misc/yaml-cpp"]
	path = cpp_misc/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "openssl/openssl"]
	path = openssl/openssl
	url = https://github.com/openssl/openssl.git
[submodule "curl/curl"]
	path = curl/curl
	url = https://github.com/curl/curl.git
[submodule "curl/curlpp"]
	path = curl/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "libuv/libuv"]
	path = libuv/libuv
	url = https://github.com/libuv/libuv.git
[submodule "aws_sdk/aws-sdk-cpp"]
	path = aws_sdk/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "grpc_cpp/grpc"]
	path = grpc_cpp/grpc
	url = https://github.com/grpc/grpc.git
[submodule "abseil_cpp/abseil-cpp"]
	path = abseil_cpp/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libmaxminddb/libmaxminddb"]
	path = libmaxminddb/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb
[submodule "gcp_cpp/google-cloud-cpp-common"]
	path = gcp_cpp/google-cloud-cpp-common
	url = https://github.com/googleapis/google-cloud-cpp-common.git
[submodule "gcp_cpp/google-cloud-cpp"]
	path = gcp_cpp/google-cloud-cpp
	url = https://github.com/googleapis/google-cloud-cpp.git
[submodule "gcp_cpp/googleapis"]
	path = gcp_cpp/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "bcc/bcc"]
	path = bcc/bcc
	url = https://github.com/Flowmill/bcc.git
[submodule "googletest"]
	path = cpp_misc/googletest
	url = https://github.com/google/googletest.git
[submodule "opentelemetry/opentelemetry-proto"]
	path = opentelemetry/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
